{% extends "layaout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">SERVICIOS UTILIZADOS</h1>
    <section class="contenedor servicios">
        <h2 class="titulo">API</h2>
        <div class="contenedor-servicios">
            <img src="..//static/img/api.png" height="100" >
            <div class="contenido-textos">
                <p>Con el término API (Application Programing Interfaces) hemos conseguido desarrollar e integrar el software de twitter para recopilar datos para su póstumo análisis. Las API's se ofrecen a los desarrolladores para facilitarles el trabajo, aunque debido a que no trabajamos específicamente con dicha API, se nos ofreció una versión con determinadas limitaciones como el acceso a un número limitado de tweets diarios, o la imposibilidad de realizar acciones automáticas tales como seguir a determinados usuarios mediante la API.
                </p>
            </div>
        </div>

        <h2 class="titulo">TWITTER</h2>
        <div class="contenedor-servicios">
            <img src="..//static/img/Twitter-Logo.png" height="100" >
            <div class="contenido-textos">
                <p>El proceso de comunicación con la propia entidad de Twitter comenzó rellenando un formulario, donde se nos pedía expresar de manera clara el uso que se le iba a dar a la aplicación, contestando a unas preguntas relativas también a la privacidad de los datos de los usuarios. Tras rellenar dicho formulario, se estableció una comunicación mediante correo electrónico donde se terminaron puliendo algunos detalles, y finalmente, se nos dio acceso a utilizar dicha API haciendo uso de unos tokens necesarios para identificarnos.
                </p>
            </div>
        </div>
        <h2 class="titulo">HTML</h2>
        <div class="contenedor-servicios">
            <img src="..//static/img/html.jpg" height="100" >
            <div class="contenido-textos">
                <p>El lenguaje HTML (HyperText Markup Language) se ha utilizado para estructurar
                    y desplegar nuestra página web y su contenido. HTML consiste en una serie de elementos
                    que se usan para que el contenido se vea y se comporte de una manera determinada.</p>
            </div>
        </div>
        <h2 class="titulo">CSS</h2>
        <div class="contenedor-servicios">
            <img src="..//static/img/css3.jpg" height="100" >
            <div class="contenido-textos">
                <p>CSS es un lenguaje de hojas de estilo en cascada y se utiliza para estilizar elementos escritos 
                    en lenguajes como HTML. Con HTML constituimos la base de nuestro sitio web y con CSS nos encargamos
                    de la parte estética. Con CSS estilizamos nuestra pagina web desde un archivo diferente para después 
                    integrarlo sobre el lenguaje HTML. </p>
            </div>
        </div>
    </section>
    
    <td id="textoExterno">        
        <p><object type="text/plain" data="..//static/txt/info.txt"></object></p>
           
    </td> 
</div>
{% endblock %}

