{% extends "layaout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">BÚSQUEDA DE TWEETS </h1>
    <h2 class="texto-inicio">En esta sección se permite realizar una búsqueda de Tweets según el tema y la provincia de España de elegida.
    </h2>
    <form action="{{url_for('busqueda')}}" method="POST">
        <p>Tema: <input type="text" name="nombre" value=""/></p>
        <p>Localizacion: <input type="text" name="Localizacion" value=""/></p>
        <p><input type="submit" value="Buscar"/></p>
        <div class="contenido-resultados">
             <p><h3>{{tema_elegido}}</h3></p>
        </div>
   </form>
    

    <td id="textoExterno">
        <div id="texto" style="white-space: pre-line;">
            {{sel_tweets}}
        </div>
    </td> 
        
</div>

{% endblock %}