{% extends "layaout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">CONTACTO</h1>

        <div class="contenedor-imagen-ugr">
            <img src="..//static/img/ugr.png" height="100" ></div>
        <div class="contenido-textos">
                <p>Somos un grupo de alumnos de la Universidad de Granada.
                </p>
        </div>

    <h1 class="display-4"></h1>
        
        <footer>
            <div class="content-info">
                <h4>Integrantes del grupo</h4>
            </div>
            <div class="contenedor-info">
                <p>María Rosa Esperilla Mesías</p>
                <p>Martín Siles Reche</p>
                <p>Sergio Fernández Morales</p>
                <p>Jesús Del Castillo Cabrera</p>
                <p></p>
            </div>
            <div class="content-info">
                <h4>Email</h4>
            </div>

            <div class="contenedor-info">
                <p>mariaesperilla@correo.ugr.es</p>
                <p>martinsr99@correo.ugr.es</p>
                <p>serfermor@correo.ugr.es</p>
                <p>grjesus99@correo.ugr.es</p>
            </div>  
                
            
            <h2 class="titulo-final">&copy; EL RETO | Laboratorio Telematica</h2>      
        </div>
    
    </div>
    
  </footer>

{% endblock %}

