{% extends "layaout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">ANÁLISIS DE RESULTADOS</h1>

    <h2 class="texto-inicio">En esta sección se mostrarán los análisis y estimaciones obtenidos mediante el uso de machine learning.
    </h2>
    

    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Polarity_DB.png" height="230" >
        <div class="contenido-resultados">
            <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                sdajfkhsdjfhskfhsakfhsakfhask
            </p>
        </div>
    </div>
    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Polarity_Forecast.png" height="230" >
        <div class="contenido-resultados">
                <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                    sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>

    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Polarity_Loss_F.png" height="230" >
        <div class="contenido-resultados">
                    <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                        sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>
        
    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Polarity_Testing.png" height="230" >
        <div class="contenido-resultados">
                    <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                        sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>

    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Subjectivity_DB.png" height="230 " >
        <div class="contenido-resultados">
                     <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                        sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>
      

    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Subjectivity_Forecast.png" height="230" >
        <div class="contenido-resultados">
                     <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                        sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>


    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Subjectivity_Loss_F.png" height="230" >
        <div class="contenido-resultados">
                     <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                        sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>


    <div class="contenedor-servicios">
        <img src="..//static/img/LSTM_Plots/Subjectivity_Testing.png" height="230" >
        <div class="contenido-resultados">
                     <p>Explicacion sdkshfkdjsahfsakfhsakdfhsdksahfslfhsaldfhasflsaf
                        sdajfkhsdjfhskfhsakfhsakfhask</p>
        </div>
    </div>
</div>
{% endblock %}