{% extends "layaout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">ANÁLISIS DE RESULTADOS</h1>
        <section class="contenedor servicios">
        <h2 class="texto-inicio">En esta sección se mostrarán los análisis y estimaciones obtenidos mediante el uso de machine learning.
        </h2>
        
        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_23122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_23122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-23')}}" role="button" id="2020-12-23">Tweets 23/12/2020</a>
                <p>
                </p>
            </div>
        </div>
        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_24122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_24122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-24')}}" role="button" id="2020-12-24">Tweets 24/12/2020</a>
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_25122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_25122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-25')}}" role="button" id="2020-12-25">Tweets 25/12/2020</a>
                <p></p>
            </div>
        </div>
            
        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_26122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_26122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-26')}}" role="button" id="2020-12-26">Tweets 26/12/2020</a>
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_27122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_27122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-27')}}" role="button" id="2020-12-27">Tweets 27/12/2020</a>
                <p></p>
            </div>
        </div>
        

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_28122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_28122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-28')}}" role="button" id="2020-12-28">Tweets 28/12/2020</a>
                <p></p>
            </div>
        </div>


        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_29122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_29122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-29')}}" role="button" id="2020-12-29">Tweets 29/12/2020</a>
                <p></p>
            </div>
        </div>


        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_30122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_30122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-30')}}" role="button" id="2020-12-30">Tweets 30/12/2020</a>
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_31122020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_31122020.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2020-12-31')}}" role="button" id="2020-12-31">Tweets 31/12/2020</a>
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_01012020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_01012021.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2021-01-01')}}" role="button" id="2021-01-01">Tweets 01/01/2021</a>
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_02012020.png" height="200" >
            <img src="..//static/img/Polarity_img/Polarity_02012021.png" height="200" >
            <div class="contenido-resultados">
                <a class="btn-primary btn-lg" href="{{url_for('tweets',fecha='2021-01-02')}}" role="button" id="2021-01-02">Tweets 02/01/2021</a>
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Subjectivity_img/Sub_week.png" height="250" >
            <div class="contenido-resultados">
                
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/Polarity_img/Polarity_week.png" height="250" >
            <div class="contenido-resultados">
                
                <p></p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/LSTM_Plots/Polarity_DB.png" height="200" >
            <img src="..//static/img/LSTM_Plots/Subjectivity_DB.png" height="200" >
            <div class="contenido-resultados">
                <p>Los resultados de cada tweet se devuelven en una dupla de valores que representan la polaridad
				que se mide con un número de -1 a +1 (siendo polaridad negativa valores inferiores a 0 y positiva
				superiores a 0) y la subjetividad de 0 a +1 (siendo 0 objetivo y +1 subjetivo).
				Para terminar la parte de procesado se agrupan los distintos tweets en intervalos de dos
				horas.
				Estos tweets agrupados en intervalos de dos horas, poseen cada uno una medida de su polaridad y de su subjetividad. Para cada intervalo realizamos la media de estos valores. Posteriormente
				guardamos en 3 archivos distintos los tweets referentes a ese día, los resultados de la
				polaridad y los de la subjetividad. Estos archivos son los que utilizarán la red neuronal para su
				entrenamiento.<br><br>
				Dados los datos obtenidos por cada día en periodos de 2 horas referentes a los dos tipos
				de features estudiados para los tweets analizados procedemos a realizar predicciones en base al
				conjunto de datos recopilados.Dado nuestro dataset total lo hemos dividido en dos partes, una de entrenamiento para la
				red neuronal y otra parte de test, con la que se pretende evaluar la capacidad de predicción de la
				misma sobre datos conocidos (conjunto de test). <br><br>Sobre nuestro datos de entrenamiento de tipo coma flotante, aplicamos una función de escalado
				dada por la librería scikit-learn (librería de software libre para tareas de machine learning
				en Python) con la que mapeamos nuestros datos en el rango de -1 a 1. Matemáticamente realiza
				la siguiente transformación de los datos unidimensionales proporcionados tal y como indica las
				páginas oficiales de sus desarrolladores.<a href="https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.
				html">Ir al sitio web</a><br> Imágenes->Dataset para el feature Polarity a la izquierda y Subjectivity a la derecha.
				</p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/LSTM_Plots/Polarity_Forecast.png" height="200" >
            <img src="..//static/img/LSTM_Plots/Subjectivity_Forecast.png" height="200" >
            <div class="contenido-resultados">
                <p>En la etapa de forecasting empleamos la red neuronal entrenada para predecir
				los valores futuros para ambos features en el rango de 1 día, un total de 12 valores, ver figuras 12
				y 13. Para ello seguimos la misma metodología empleada en la etapa de test y entrenamiento solo
				que ahora inicializaremos nuestra ventana de datos con los últimos datos de nuestro dataset total
				y sucesivamente iremos desplazando la ventana muestra a muestra conforme predecimos los valores
				referentes al día inmediatamente después del que se tiene constancia en nuestra base de datos.Se observa que la red neuronal responde correctamente delvolviendo valores acotados en el
				rango de valores propios de cada ’feature’ estudiado y siguie fielmente la tendencia de los datos
				inmediatamente anteriores a los predichos.<br>Imágenes->(Datos predichos para el día 2 de Enero, Polarity a la izquierda y subjectivity a la derecha)</p>
            </div>
        </div>

        <div class="contenedor-servicios">
            <img src="..//static/img/LSTM_Plots/Polarity_Testing.png" height="200" >
            <img src="..//static/img/LSTM_Plots/Subjectivity_Testing.png" height="200" >
            <div class="contenido-resultados">
                <p>En esta parte estudiamos el rendimiento de los datos predichos por la red neuronal, testeando
				su eficacia. Nos basamos en el mismo modo de operación que la etapa de entrenamiento,
				pero esta vez, haremos uso de nuestra red ya entrenada por la que pasaremos (operación de foward)
				los datos referentes a la última ventana de datos de entranamiento para, sucesivamente ir
				prediciendo y desplazando la ventana iteradamente muestra a muestra.En las figuras se muestran los resultados predichos por la red neuronal frente a los
				datos de test para ambos features:
				Vemos que a pesar de no presentar una fuerte relación los datos predichos frente al dataset
				empleado para el testeo de la misma, los datos predichos oscilan en rangos aceptables.<br> Imágenes->(Etapa de test para Polarity a la izquierda y Subjectivity a la derecha) </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}